{% extends 'blog/app.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="container">
    <div class="card" style="width: 28rem;margin:0 auto;top:40px">
        <div class="content-section container">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Login
                    </legend>
                    {{form | crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Login
                    </button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Forget password? 
                    <a class="ml-2" href="{% url 'password_reset' %}">
                        Reset password
                    </a>
                </small>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Doesn't have an account? 
                    <a class="ml-2" href="{% url 'register' %}">
                        Register
                    </a>
                </small>
            </div>
        </div>
    </div>
</div>

  
{% endblock content %}
