{% extends 'blog/app.html' %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="content-section">
        <div class="card container" style="width:36rem; ma4rgin: auto; top:10px">
            <form method="POST" enctype="multipart/form-data" class="uniForm">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Blog Post
                    </legend>
                    {{form | crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>


  
{% endblock content %}
