{% extends 'blog/app.html' %}
{% block content%}
{% load humanize %}
  <br>
    <div class="alert alert-primary"  role="alert">
        <p>
            <img src="{{object.author.profile.image.url}}" class="card-img-top rounded-circle account-img"style="height:50px;width:50px" alt="profile image">
                {{object.author}} 
                    <span class="badge badge-secondary"> 
                        {{object.created_at|naturaltime}}
                    </span>
        </p>
        <span class="speech_content-{{object.id}}" style="font-size:30px">{{object.title}}</span> 
        <p class="speech_content-{{object.id}}">
            {{object.content}}
        </p>
        <img src="{{object.post_image.url}}" class="card-img-top account-img" alt="Post image" style="height:200px;width:300px;border-top: 2px solid gray; border-radius: 8px;">
        </p>
        <!-- <span class="badge badge-secondary">creation date: {{object.created_at|date:"F d,Y"}}</span> -->
        <button type="button" onclick="textToSpeechMale({{post.id}})" class="btn btn-info btn-sm">👨 🔊</button>
        <button type="button" onclick="textToSpeechFemale({{post.id}})" class="btn btn-primary btn-sm">👩 🔊</button>
        {% if object.author == user %}        
            <a href="{% url 'post-update' object.id %}" class="btn btn-outline-secondary btn-sm">Edit ✏️</a>
            <a href="{% url 'post-delete' object.id %}" class="btn btn-outline-danger btn-sm">Delete 🗑️</a>
        {% endif %}
      
    </div>
{% endblock content %}
