{% extends 'blog/app.html' %}
{% block content%}
{% load humanize %}

  {% for post in posts%}

  <br>
    <div class="alert alert-primary"  role="alert">
      <p><img src="{{post.author.profile.image.url}}" class="card-img-top rounded-circle account-img"style="height:50px;width:50px" alt="profile image">
         <a href="{% url 'post-detail' post.id %}" 
          style="font-size:25px;
          text-decoration:none;
          color:black;font-weight: 600;">
            {{post.title}}
         </a> 
         <a href="{% url 'user-posts' post.author %}" style="font-size:14px"> - Posted by {{post.author}} </a>
         <p class="speech_content-{{post.id}}" style="font-weight: lighter;">
            {{post.content}}
         </p>
      </p>
    </div>
  <div class="alert alert-warning"  role="alert">
      <sm>Posted {{post.created_at|naturaltime}}<sm>
      <button type="button" onclick="textToSpeech({{post.id}})" class="btn btn-info btn-sm">Listen 🔊</button>
  </div>
  <hr>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-secondary btn-sm" href="?page=1">&laquo; first</a>
                <a class="btn btn-outline-secondary btn-sm" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info btn-sm" href="?page={{num}}">{{num}}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class="btn btn-outline-info btn-sm" href="?page={{num}}">{{num}}</a>
              {% endif %}
            {% endfor%}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-secondary btn-sm" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-outline-secondary btn-sm" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
  </div>
  
{% endblock content %}
